
/*Utils*/
@import "variables.scss";
@import "mixins.scss";
@import "utility.scss";


/*Layout*/
@import "layout/header";
@import "layout/footer";

@import "layout/main_restaurant.scss";

/*component*/
/* --> mainitem*/
@import "components/hearts.scss";
@import "components/button.scss";

/*pages*/
@import "pages/accueil-specific.scss";
@import "pages/loader.scss";
@import "pages/loader-icons.scss";

/*useless, à mettre dans une classe util*/
@mixin overflowingtext{
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

/****/
body{
	font-family: $text-font;
	margin:0;
	max-width: 1440px;
	margin: auto;
}

ul{
	padding-left: 0;
	list-style-type: none;
}
/*ajouter spec ou juste mettre dans components*/
img{
	position:relative;
	height: 260px;
	object-fit: cover;
	width:100%;
	@include desktop-res{
		height: 300px;
	}
}


.main{
	/*Pages des restaurants*/
	&__title{
		margin-left:20px;
		h2{
			font-weight: normal;
		}
		.undertitle{
			margin-top:5px;
			margin-bottom: 15px;
			height:3px;
			width:40px;
			background-color: $tertiary-color;
		}
	}
	&__item{
		background-color: white;
		box-shadow: 0 0 10px $shadow-light;
		margin: 15px;
		border-radius: 20px;
		padding: 15px 25px 15px 15px;
		position: relative;
		z-index:2;
		overflow: hidden;
		h3{
			@include overflowingtext();
		}
		&__description{
			@include flexdisplay(space-between);
			margin-top:5px;
			transition: margin 300ms;
			p{
				margin: 0;
				width:87%;
				@include overflowingtext();
				font-size: 15px;
			}
			.prix{
				font-weight: bold;
			}
		}
		.validation{
			background-color: $tertiary-color;
			position:absolute;
			z-index: 1;
			right: 0;
			top:0;
			width:$validationdiv-width;
			height: 100%;
			border-radius: 0 20px 20px 0;

			@include flexdisplay(); /*affichage icone centrale*/
			color: white;
			overflow: hidden;

			transform-origin: right;
			transform: scaleX(0);
			transition: transform 300ms ease-in-out;
			i{
				transition: transform 300ms ease-out;
				transition-delay: 200ms;
			}
		}
		&:hover{ 
				.main__item__description{ 
					margin-right: $validationdiv-width;
				}
				.validation{
					transform:scaleX(1);
					& > i{
						transform:rotate(360deg);
					}
				}		
		}
	}
	.fonctionnement{
		@include global-sidepadding();
		padding-top: 50px; /*COULD BE ????*/
		padding-bottom:55px;
		@include desktop-res{
			padding-top: 30px;
			padding-bottom: 30px;
		}
		h2{
			margin-top:0;
			margin-bottom: 25px;
			@include desktop-res{
				width: 100%;
			}
		}
		&__card{
			@include flexdisplay(flex-start);
			@include desktop-res{
				width: 28%;
			}
			position: relative;
			height:70px;
			line-height: 70px;
			border-radius: 20px;
			background-color: $light-background;
			box-shadow: 0 5px 10px $shadow-light;
			margin-bottom: 25px;
			margin-left: 10px;
			padding-left:35px;
			i{
				color:grey;
				width:40px;
			}
			&:hover{
				background-color: lighten($primary-color, 35%);
				i{
					color:$primary-color;
				}
			}
			p{
				position: absolute;
				left:-10px;
				text-align: center;
				line-height: 20px;
				height: 20px;
				width:20px;
				margin-top:0;
				background-color: $primary-color;
				border-radius: 100px;	
				color:white;
				font-size: 12px;			
			}
		}
		&__cardwraper{
			@include desktop-res{
				display: flex;
				justify-content: space-between;
			}
		}
	}
	#restaurants{
		background-color: $light-background;
		@include global-sidepadding();
		padding-bottom: 55px;
		padding-top:50px; /*COULD BE ???*/
		h2{
			margin-top:0;
			margin-bottom:30px;
		}
		@include desktop-res{
			width:95%;
			margin: auto;
			border-radius: 20px;
			margin-bottom: 40px;
			padding-bottom: 30px;
			box-shadow: 0 0 10px $shadow-light;
		}
		.carte_restaurant{
			height:$accueil-mobile-restautantheight; /*devrait potentiellement changer selon bp*/
			background-color: white;
			border-radius: 20px;
			box-shadow:0 0 10px $shadow-light;
			margin-bottom: 20px;
			position: relative;
			@include desktop-res{
				width: 23%;
			}
			@include tablet-res{
				width:45%;
			}
			a{
				@include basiclinkdisplay(white);		
			}
			i{
				position: absolute;
				right:25px;
				bottom:25px;
			}
			/*.far{ /***** A SUPPRIMER LORS DES TESTS AVEC ICONES **
				z-index: 1;
				transition: opacity 1000ms;
			}
			.fas{ 
				@include full-heart-base();
				z-index: 2;
				&:hover{
					cursor: pointer;
					opacity: 1;
					& + .far {
						opacity: 0;
					}
				}
			}*/
			img{
				height:$homepage-mobile-imgheight; /*devrait changer selon bp*/
				width:100%;
				border-radius: 20px 20px 0 0;
				object-fit: cover;
			}
			&__txt{
				@include global-sidepadding(15px);
				padding-top:15px;
				p{
					margin-top:5px;
				}
			}
			&__nv
			{
				position: absolute;
				background-color: $tertiary-color;
				color: darken($tertiary-color,45%);
				border-radius: 5px;
				width: 23.5%;
				@include desktop-res{
					max-width: 75px;
					width: 30%;
				}
				height: 30px;
				top:15px;
				right:4%;
				text-align: center;
				line-height: 30px;
			}
			&__wraper{
				@include desktop-res{
					@include flexdisplay(space-between);
				}
				@include tablet-res{
					@include flexdisplay(space-around);
					flex-wrap: wrap;
				}
			}
		}
	}

}

.main__item{
	animation: apparition 1s ease-in-out forwards;
	opacity: 0;
	&:nth-child(2){
		animation-delay: 0.1s;
	}
	&:nth-child(3){
		animation-delay: 0.3s;
	}
	&:nth-child(4){
		animation-delay: 0.5s;
	}
	&:nth-child(5){
		animation-delay: 0.7s;
	}
}

@keyframes apparition {
	0%{
		opacity: 0;
	}
	50%{
		transform: translateY(2px);
	}
	100%{
		opacity: 1;
	}
}

.sections-wrapper{
	@include desktop-res{
		display: flex;
		justify-content: space-between;
	}
}
