/* utility classes*/

/**Les noms des restaurants, le logo header et footer*/
.special-title{
    font-family: $title-font;
	font-weight: normal;
}

/*appliquée sur des h et p*/ 
.nomargin{
	margin-top:0;
    margin-bottom:0;
}

/*sur la version pc il y a un petit espace blanc et la hauteur doit être appliquée sur le paragraphe plutôt que l'image
qui fera elle 100% du paragraphe*/
.img-container{
    @include desktop-res {
        height:400px;
    }
}

/**Sur les pages de restaurants, le trait en dessous des titres de catégories de plats **/
.undertitle{
    margin: 5px 0 15px 0;
    height:3px;
    width:40px;
    background-color: $tertiary-color;
}

/**Titre logo footer desktop**/
.--bigdesktop{
    @include desktop-res{
		font-size: 2em;
	}
}

/**utilisé dans les pages de restaurants pour endcadrer les sections entrées / plats / desserts **/
.sections-wrapper{
	@include desktop-res{
		@include flexdisplay(space-between,unset);
	}
}
