header{
	@include flexdisplay(inherit);
	position: relative;
	padding: 20px;

	text-align: center;
	margin: auto;

	box-shadow: 0 5px 5px darken($shadow-light,10%);

	@include desktop-res{
		box-shadow:unset;
	}

	i{
		color:black;
	}
	
	h1{
		margin: auto;
	}
}
