/* button.scss

Code pour le bouton commande sur toutes les pages de menu + explorer sur page accueil*/

button{	
	background: linear-gradient($secondary-color,$primary-color);
	opacity: 1;

	border: none;
	border-radius: 30px;
	box-shadow: 0 5px 5px $shadow-light;

	font-size: 1.1em;
	color:white;
	cursor: pointer;
	
	padding: 15px 25px;
	margin: 35px 0 70px 0;

	@include desktop-res{
		margin-bottom: 35px;
	}

	&:hover{
		opacity:0.75;
		box-shadow: 0 5px 5px darken($shadow-light,10%);
	}
}