/***** Carte affichant un item du menu pour chaque restaurant

Exemple : 

Filet de boeuf
Spécialité du chef      35€   <validation>  

***/

.main{
    &__item{
        @include flexdisplay(space-between, flex-end);

        background-color: white;
        box-shadow: 0 0 10px $shadow-light;
        margin: 15px;
        border-radius: 20px;
        padding: 15px 20px 15px 10px;

        position: relative;
        overflow: hidden;

        /**Animation pour l'affichage des différentes cartes*/
        animation: apparition 1s ease-in-out forwards;
        opacity: 0;
        &:nth-child(2){
            animation-delay: 0.1s;
        }
        &:nth-child(3){
            animation-delay: 0.3s;
        }
        &:nth-child(4){
            animation-delay: 0.5s;
        }
        &:nth-child(5){
            animation-delay: 0.7s;
        }

        h4{
            width: 93%;
            margin-bottom: 5px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
        }
        &__description{
            width: 90%;
            @include flexdisplay(space-between, baseline, column);

            transition: margin 300ms, width 300ms;
            p{
                margin: 0;
                white-space:nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
                font-size: 0.95em;
                width: 93%;
            }
        }
        &:hover{ 
                .prix{ 
                    margin-right: $validationdiv-width;
                }
                .main__item__description{
                    margin-right: - $validationdiv-width;
                    width: 70%;
                }
                p, h4{
                    width: 100%;
                }
                .validation{
                    transform:scaleX(1);
                    & > i{
                        transform:rotate(360deg);
                    }
                }		
        }
    }
}

/***Effet lors de l'apparition des items**/ 
@keyframes apparition {
	0%{
		opacity: 0;
	}
	50%{
		transform: translateY(2px);
	}
	100%{
		opacity: 1;
	}
}

/** Code spécifique au prix dans chaque item**/
.prix{
    @include flexdisplay(center,flex-end);
    font-weight: bold;
    transition: margin 300ms;
}

/*****Part de la carte servant à valider le choix ***/
.validation{
    background-color: $tertiary-color;
    position:absolute;
    right: 0;
    top:0;
    width:$validationdiv-width;
    height: 100%;
    border-radius: 0 20px 20px 0;

    @include flexdisplay(); /*affichage icone centrale*/
    color: white;
    overflow: hidden;

    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    i{
        transition: transform 300ms ease-out;
        transition-delay: 200ms;
    }
}