	/*accueil-reservation.scss

	code utilisé seulement sur la page d'accueil hors animation*/
.main{
	@include desktop-res{
		width: 95%;
		margin: auto;
	}
}

.topside{ 
    @include desktop-res{
        background-color: $light-background;
        padding-top: 30px;
        border-radius: 20px;
		box-shadow: 0 5px 10px $shadow-light;
    }
}

.localisation{
	@include flexdisplay();
	padding: 0 20px;
	background-color: $shadow-light;
	@include desktop-res{
		border-radius: 20px;
		box-shadow: 0 3px 10px $shadow-light;
		position:relative;
		width:20%;
		margin: auto;
		justify-content: flex-start;
	}
	& > i{
		width:30px;
		@include desktop-res{
			margin-right: 25px;
		}
	}
}

#reservation{
	background-color: $light-background;
	text-align: center;
	padding: 45px 20px 0 20px;
	@include desktop-res{
		border-radius: 20px;
	}
}

.fonctionnement{
	padding: 50px 20px 55px 20px;
	@include desktop-res{
		margin-top: 25px;
		padding: 30px 20px;
	}
}

#restaurants{
	background-color: $light-background;
	padding:50px 20px 55px 20px; 
	@include desktop-res{
		border-radius: 20px;
		margin-bottom: 55px;
		padding-bottom: 30px;
		box-shadow: 0 0 10px $shadow-light;
	}
}