.loadspin{
	background: linear-gradient($secondary-color,$primary-color);
	position: absolute;
	z-index:3;
	top:0;
	left:0;
	animation: spinner 1500ms ease-in-out forwards;
	animation-delay: 1500ms;
	width:100%;
	min-height: 100vh; /*Responsive car s'adapte peu importe la taille du viewport*/
	text-align: center;
	&__text{
		padding-top: 30vh;
		font-family: $title-font;
		font-size:12vw;
		animation: txtappear 1s ease-in-out;
		margin-bottom: 15px;
	}
	&__circle{
		margin: auto;
		width: 100px;
		height: 100px;
		border:5px solid white;
		border-bottom-color:$tertiary-color;
		border-radius: 100px;
		animation: circlerot 1500ms linear infinite ;
		margin-bottom: 40px;
	}	
}

.fa-egg{
    display: block;
    color: #f5e7bc;
    margin-right: 20px;
    animation: rightmove 2450ms ease-in;
}
.fa-cheese{
    color: yellow;
    margin-right: 20px;	
   /* animation: rightmove 2500ms ease-in;*/
}
.fa-wine-glass-alt{
    color:#f5e6ba;
    animation: leftmove 2550ms ease-in;
}

@keyframes leftmove{
	25%{
		transform: translateX(5%) rotate(45deg);
	}
	75%{
		transform: translateX(-5%) rotate(-45deg);
	}
}

@keyframes rightmove{
	25%{
		transform: translateX(-5%) rotate(90deg);
	}
	75%{
		transform: translateX(5%) rotate(-90deg);
	}
}

@keyframes txtappear{
	0%{
		transform: scaleX(0);
	}
	100%{
		transform: scaleX(30vh);
	}
}

@keyframes circlerot {
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes spinner{
	0%{
		opacity: 1;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}