.loadspin{
	background: linear-gradient($secondary-color,$primary-color);
	position: fixed;
	z-index:2;
	left:0;
	animation: spinner 1000ms ease-in-out forwards;
	animation-delay: 1000ms;
	width:100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__text{
		font-family: $title-font;
		font-size:3em;
		animation: txtappear 1s ease-in-out;
		margin-bottom: 15px; 
	}
	&__circle{
		width: 70px;
		height: 70px;
		border-bottom:5px solid $tertiary-color;
		border-top:5px solid $secondary-color;
		border-radius: 100px;
		animation: circlerot 1500ms linear infinite ;
		margin-bottom: 40px;
	}	
}

@keyframes txtappear{
	0%{
		transform: scaleX(0);
	}
	100%{
		transform: scaleX(30vh);
	}
}

@keyframes circlerot {
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes spinner{
	0%{
		opacity: 1;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}