/*Loader-icons 

Ici on retrouve les icones du loader et leurs animations*/

.fa-egg{
    display: block;
    color: #f5e7bc;
    margin-right: 20px;
    animation: rightmove 2450ms ease-in;
}
.fa-cheese{
    color: yellow;
    margin-right: 20px;	
}
.fa-wine-glass-alt{
    color:#f5e6ba;
    animation: leftmove 2550ms ease-in;
}

@keyframes leftmove{
	25%{
		transform: translateX(5%) rotate(45deg);
	}
	75%{
		transform: translateX(-5%) rotate(-45deg);
	}
}

@keyframes rightmove{
	25%{
		transform: translateX(-5%) rotate(-45deg);
	}
	75%{
		transform: translateX(5%) rotate(45deg);
	}
}